#header-div {
  text-align: center;
  background-color: lightblue;
}

#page-title {
  font-size: 2rem;
}

#form-div {
  text-align: center;
}

#candidate-form, #voter-form {
  width: 30%;
  display: inline-block;
  text-align: left;
}

#voter-form {
  position: relative;
}

#randomize-btn {
  position: absolute;
  bottom: 0;
  left: 5rem;
}